<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Редактирование пользователя</title>
</head>
<body>
<center>
  <h1>Редактирование пользователя</h1>
</center>
<br/>
<div th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}" align="center">
  <div align="center">
    <form th:action="@{'/admin/users/update/' + ${user.username}}" th:object="${user}" method="post">
      <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" required />
        <span th:if="${usernameError}" th:text="${usernameError}" style="color: red;"></span>
      </div>
      <br/><br/>
      <div class="form-group">
        <label for="passwd">Пароль:</label>
        <input type="password" th:field="*{password}" id="passwd" placeholder="*********" required />
      </div>
      <br/><br/>
      <label>Роли:</label>
      <div>
        <p th:each="role : ${allRoles}">
          <label>
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}"/>
            <span th:text="${role.name}">Role Name</span>
          </label>
        </p>
      </div>
      <br />
      <input type="submit" value="Сохранить изменения" class="submit-button" />
    </form>
    <div class="form-group">
      <a href="/admin" class="submit-button">Вернуться назад</a>
    </div>
  </div>
</div>
</body>
</html>