<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<center>
    <h1>Создание нового пользователя</h1>
</center>
<br/><br/>
<div th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}" align="center">
    <div align="center">
        </div>
        <form action="#" th:action="@{/admin/users/save}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">USERNAME:</label>
                <input type="text" th:field="*{username}" id="username"
                       required
                       title="Если не уникально, будет ошибка"
                       placeholder="Если не уникально, будет ошибка" />
            </div>
            <br/>
            <div class="form-group">
                <label for="passwd">PASSWORD:</label>
                <input type="password" th:field="*{password}" id="passwd" required placeholder="*********" />
            </div>
            <br />
            <div class="form-group">
                <label>Роли:</label>
                <div>
                    <p th:each="role : ${allRoles}">
                        <label>
                            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
                            <span th:text="${role.name}"></span>
                        </label>
                    </p>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить!" class="submit-button" />
            </div>
            <br />
            <div class="form-group">
                <a href="/admin" class="submit-button">Вернуться назад</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
</html>
